# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter repo
.dart_tool/
.github/
.gitignore
.packages
.project
.vscode/
build/
# Don't check in analytics state
.flutter-analytics
.flutter-plugins-dependencies

# Mobile-specific
lib/generated_plugin_registrant.dart

# Generated plugin registrant
**/ios/Flutter/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
**/flutter_assets/kernel_blob.bin
**/flutter_assets/FontManifest.json
**/flutter_assets/AssetManifest.json
**/flutter_assets/NOTICES.Z

# Obfuscated snapshot
**/app.so

# Android
.gradle
/android/local.properties
/android/key.properties

# iOS
/ios/Flutter/ephemeral/
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Pods/
/ios/ServiceDefinitions.json
/ios/Runner/Info.plist
/ios/Runner/GoogleService-Info.plist
/ios/Runner.xcworkspace/contents.xcworkspacedata
/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/ios/.symlinks/
/ios/Flutter/flutter_export_environment.sh

# macOS
/macos/Flutter/ephemeral/
/macos/Flutter/Generated.xcconfig
/macos/Flutter/Flutter-Debug.xcconfig
/macos/Flutter/Flutter-Release.xcconfig
/macos/Pods/
/macos/Runner.xcworkspace/contents.xcworkspacedata
/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/macos/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/macos/.symlinks/

# Linux
/linux/flutter/ephemeral
**/lib/generated_plugin_registrant.dart

# Windows
/windows/flutter/ephemeral
**/generated_plugin_registrant.cc
**/generated_plugin_registrant.h
**/generated_plugins.cmake

# Web
.dart_tool/
.github/
.packages
.project
.vscode/
build/
# Don't check in analytics state
.flutter-analytics
**/lib/generated_plugin_registrant.dart
**/flutter_assets/kernel_blob.bin
**/flutter_assets/FontManifest.json
**/flutter_assets/AssetManifest.json
**/flutter_assets/NOTICES.Z
**/app.so
